node_modules/
dist/
dist-ssr/
.DS_Store
*.log
.env
.env.android
.vscode/*
!.vscode/extensions.json
__pycache__/
*.pyc
.pytest_cache/
.venv/
services/python-api/venv
coverage/
*.local
*.tsbuildinfo
.eslintcache
*.timestamp-*-*.mjs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
